<%include ../partials/header.ejs%>

<div class="container">
            <div class="jumbotron">
                <h1>Welcome to YelpCamp</h1>
                <p>View our handpicked campground from all over the world</p>
                <p>
                    <a class="btn btn-primary btn-large" href="/campgrounds/new">Add New Campground</a>
                </p> 
            </div>
    <div class="row d-flex align-items-stretch">

        <%for(i=0;i<data.length;i++){%>
            <div class="card col-md-4 col-sm-6" style="width:30rem">
                <h4 class="card-title"><%=data[i]["name"]%></h4>
                <img class="card-img-top " src=<%=data[i]["image"]%>>
                <a href="/campgrounds/<%= data[i]._id %>" class="btn btn-primary">More Info</a>
            </div>
        <!-- <br> -->
        <%}%>    
    </div>
</div>

<%include ../partials/footer.ejs%>